@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    margin: 0 ;
    padding: 0;
    height: 100vh;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr 6fr;  
    }
.sidebar{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 90vh;
    background-color: #c4a5a5;
    padding-left: 12px;
    padding-top: 25px;
    row-gap: 10px;
}
.sidebar div button{
    margin: 5px;
    padding: 10px;
}
.sidebar-header{
    font-size: 25px;
}
.sidebar span{ 
    cursor: pointer;
    border: 1px solid rgb(178, 216, 8);
    padding: 10px;
    background-color: white;
}
.project{
    background-color: rgb(197, 166, 166);
    border: 1px solid black;
    height: 555px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 12px;
    width: 325px;
}
.todo{
    display: grid;
    grid-template-columns: 100px 40px 20px 20px;
    align-items: center;
    grid-auto-flow: column;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    gap: 35px;
    height: auto;

    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f1f1f1;
}
.collapseBtn{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    gap: 35px;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.collapseBtn:hover{
    background-color: rgb(112, 144, 123);
}
.todo *{
    text-align: center;
}
.deleteButton{
    background-color: red;
    color: white;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}
.addProjectBtn{
    color: red;
    background-color: blue;
}
.sidebar-projectsLength{
    margin-top: auto;
    font-size: 1.25em;
}